<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="kuixine-logo.png">
    <link href="bootstrap/css/bootstrap.min.css"
      rel="stylesheet">
<style>
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

a[class*="fontawesome-"]:before,
span[class*="fontawesome-"]:before {
    display: block;
    font-family: 'FontAwesome', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* ---------- GENERAL ---------- */

html { 
  background: url(back.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    background: #ccc;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 200%;
}

button {
    -webkit-appearance: button;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 200%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

p, input {
    border: 0;
    font-family: inherit;
    font-size: 200%;
    line-height: inherit;
    margin: 0;
    padding: 0.5em;
}

input:focus {
    outline: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ---------- CLASSES ---------- */

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: "";
    display: table; 
}
.clearfix:after { clear: both; }

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    position: absolute;
    width: 80%%;
}

/* ---------- TOOLBAR ---------- */

.toolbar {
    color: #fff;
}

.toolbar li {
    float: left;
}

.toolbar li:first-child a { border-radius: .5em 0 0 .5em; }
.toolbar li:last-child button { border-radius: 0 .5em .5em 0; }

.toolbar a,
.toolbar input[type="search"],
.toolbar button {
    background: #3598db;
    color: #fff;
    display: block;
    padding: .5em 1em;
    position: relative;
}

.toolbar a:hover,
.toolbar input[type="search"]:hover,
.toolbar input[type="search"]:focus,
.toolbar button:hover {
    background: #2a80b9;
}

.toolbar input[type="search"] {
    display: none;
    height: 21px;
    width: 100%;
}
.box{
    box-shadow:2px 2px 10px #010612;
    margin-top: 40%;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    background-color: rgba(238,17,17,0.6);
}

.toolbar input[type="search"]::-webkit-input-placeholder { color: #fff; }
.toolbar input[type="search"]::-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-ms-input-placeholder { color: #fff; }
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
</style>
    <meta charset="UTF-8">
    <title>Kuixine</title>
    
</head>
<body>

 <div class="container">

        <form action="javascript:void(0);" method="get">
            
            <div class="col-xs-12 col-md-12" style="text-align:center">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control"  placeholder="What are you hungry for?" id = "sinput">
                    <div class="input-group-btn">
                        <button class="btn btn-default" onclick="clk()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        </form>
     <div id = "x">
    <!--<div class="col-xs-6 col-md-4" style="text-align:center">
    
         <div class="box">
           
                
                     <p style="font-weight: bold;">Aunty's Homemade Cupcakes<p>
                     <p>Delicious comfort food for all ages!</p>
                     <p>51/C Block D New Alipore, Kolkata</p>
                     <p>7:00pm</p>
                
                <button class="btn" type="submit" style="background-color:rgba(256,256,256,0.30);font-weight: bold">Order</button>
            
         </div>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align:center">
    
         <div class="box">
           
                
                     <p style="font-weight: bold;">Aunty's Homemade Cupcakes<p>
                     <p>Delicious comfort food for all ages!</p>
                     <p>51/C Block D New Alipore, Kolkata</p>
                     <p>7:00pm</p>
                
                <button class="btn" type="submit" style="background-color:rgba(256,256,256,0.30);font-weight: bold">Order</button>
            
         </div>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align:center">
    
         <div class="box">
           
                
                     <p style="font-weight: bold;">Aunty's Homemade Cupcakes<p>
                     <p>Delicious comfort food for all ages!</p>
                     <p>51/C Block D New Alipore, Kolkata</p>
                     <p>7:00pm</p>
                
                <button class="btn" type="submit" style="background-color:rgba(256,256,256,0.30);font-weight: bold">Order</button>
            
         </div>
    </div>-->
     </div>
</div>

    

    <script src="js/jquery.min.js"></script>
	<script type = "text/javascript">
	var client = new XMLHttpRequest();
	var data ;
	  client.onreadystatechange = function()
      {
      if(client.readyState == 4 && client.status==200)
       {
	     data = client.responseText;
		 parse();
		 }
	 }
    function clk()
        {
            
            var str = document.getElementById('sinput').value;
            document.getElementById("x").innerHTML = "" ;
            client.open('GET','http://localhost/search?s='+str);
            client.send();            
        }
        function parse()
        {
            data = JSON.parse(data);
            for( var i =0 ; i<data.length;i++)
               {
                   
                    var tdiv = document.createElement("div");tdiv.className = "col-xs-6 col-md-4";
                    var div2 = document.createElement("div");div2.className = "box";
                    var p = document.createElement("p");p.appendChild(document.createTextNode(data[i].name));
                    p.style = "font-weight: bold;";
                    div2.appendChild(p);
                    var p2 = document.createElement("p");p2.appendChild(document.createTextNode("By : " +data[i].by));div2.appendChild(p2);
                    var p3 = document.createElement("p");p3.appendChild(document.createTextNode("where : " +data[i].location));div2.appendChild(p3);
                   var p4 = document.createElement("p");p4.appendChild(document.createTextNode(data[i].desc));div2.appendChild(p4);
                   tdiv.appendChild(div2);
                    document.getElementById("x").appendChild(tdiv);
                   
               }
        }
	</script>
    
</body>
<script>

</script>
</html>